* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: #D9D9D9;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.app-name{
    color: black;
    text-align: center;
    font-size: 2rem;
}

.trip-visual{
    background-color: red;
}